*.log
*.pot
*.pyc
local_settings.py
python/wsgi
python/pcccenv
#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*
*.swp
apis/apiapp/node_modules/*
apis/apiapp/node_modules/express/* 
apis/apiapp/node_modules/mongoose/* 
