*.log
*.pot
*.pyc
local_settings.py
python/wsgi
python/pcccenv
#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*

#Xcode files
#This ignores everything inside a *.xcodeproj except the project.pbxproj
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.log
xcuserdata
xcuserdata/
*.xcuserstate

#Project files
[Bb]uild/
