*.log
*.pot
*.pyc
local_settings.py
python/wsgi
python/pcccenv
#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*
apis/node_modules/*
apis/apiapp/node_modules/**/* 
apis/apiapp/node_modules/.bin/express
apis/apiapp/node_modules/mongoose/website.js

apis/apiapp/node_modules/express/.npmignore

apis/apiapp/node_modules/express/.travis.yml
